@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap);

body {
  text-align: center;
  background-color: rgb(135, 110, 215);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 100;
}

p{
  margin: 0;
}
 
.countdown-title {
  color: rgb(57, 20, 175);
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}
 
.countdown {
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
 
.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(106, 72, 215);
  display: inline-block;
}
 
.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background-color: rgb(65, 44, 132);
  display: inline-block;
  min-width: 45px;
}
 
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;

}

.but-time{
  width: 36px;
  height: 36px;
  font-size: 16px;
}

.message{
  color: rgb(57, 20, 175);
  font-weight: 400;
  font-size: 28px;
}

button{
  margin-top: 30px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid rgb(65, 44, 132);
  background-color: white;
}

.countdown-time input{
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: rgb(65, 44, 132);
  font-size: 24px;
  border: none;
  color:#fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}